<div class="jumbotron">
<p>The Best way to predict your future is to create it.</p>
<p class="pull-right">-Peter Drucker</p>
</div>

<div class="login">
	<h2>Login to your future:</h2>
	<!--Template Driven Form - (different from Data-driven Form-->
	<form (ngSubmit)="onSubmit(f)" #f="ngForm">
		<div class="form-group">
			<input type="email" class="form-control" placeholder="Email" name="email" ngModel required>
			<input type="password" class="form-control" placeholder="Password" name="password" ngModel required>
			<button type="submit" class="btn btn-default" [disabled]="!f.valid">Enter</button>
		</div>
	</form>
</div>
